# .ebextensions/websockets.config
# CRITICAL for AWS Elastic Beanstalk to support Socket.io WebSockets
files:
  "/etc/nginx/conf.d/websocket_proxy.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # Pass through the necessary headers to the Node.js application
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";
      proxy_http_version 1.1;